data/radar/
data/radar
data/radar.lnk
data/general
data/soundings
data/aerosol
data/lightning

general_processing/figs/

met_aerosol_processing/figs/
met_aerosol_processing/.ipynb_checkpoints/

radar_processing/figs/
radar_processing/__pycache__/
radar_processing/mira_quicklooks/__pycache__/
radar_processing/tests_tathu/figs/

tracking/figs/
tracking/__pycache__/
tracking/tracks_obj.pkl

.vscode/

renv/

.Rproj.user
.Rhistory
.Rprofile
renv.lock
.RData

